.nav-menu ul {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.nav-link {
    display: inline-block;
}

.hero {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.hero-container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
    padding: 0 2rem;


}

.hero-content {
    display: flex;
    flex-direction: column;

    flex: 1;

}

.hero-image {
    display: flex;
    justify-content: flex-end;

    flex: 1;

}

.hero-image img {
    max-width: 100%;
    height: auto;
}
